html{
  font-family: sans-serif;
}

.container{
  width: 100%;
  height: 100%;
}

.header-nav{
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 997;
  left: 0;
  top: 0;
  right: 0;
  padding: 8px 0;
  background: #fff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158,158,158,0.3)
}

.main-header{
  position: relative;
  background-image: url("/img/hd/header-bg.jpg");
  height: 600px;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}

/*menu*/

.menu{
  display: flex;
  font-size: 12px;
}

.home{
  color: #8490ff;
}

.logo{
  padding-right: 250px;
  margin: 10px;
}

.menu a{
  text-decoration: none;
  color: black;
}

.menu li{
  list-style: none;
}

.menu a:hover{
  color: #8490ff;
}

.text-logo{
  position: absolute;
  padding-top: 150px;
  width: 550px;
  padding-left: 650px;
}

.text-logo h1{
  font-size: 50px;
}

.btn{
  border-radius: 50px;
  padding: 13px;
  width: 60px;
  text-decoration: none;
  color: white;
  background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  font-weight: 500;
  text-transform: uppercase;
}

.btnhd{
  position: relative; top: 30px;
}

.btn:hover{
  border: 1px solid black;
  color: black;
  background-image: none;
  background-color: white;
}

.texthead{
  color: #777;
}

.main-info{
  display: flex;
  justify-content: center;
  margin: 80px;
}

.info-news{
  width: 350px;
}

.info-news p{
  color: #777777;
}

/*choose*/

.choose{
  background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  height: 420px;
  opacity: 0.9;
  text-align: center;
  padding: 10px;
}

.chooseback{
  background-image: url("/img/hd/testimonial-bg.jpg");
}

.choose h3{
  font-size: 40px;
  color: white;
}

.choose p{
  font-size: 15px;
  color: white;
}

.moreinfo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.info1{
  display: flex;
  width: 550px;
  text-align: start;
  background-color: white;
  margin: 15px;
  height: 200px;

}

.info1 h3{
  color: black;
}

.info1 p{
  color: black;
}

.info2{
  width: 550px;
  text-align: start;
  background-color: white;
  margin: 15px;
  height: 200px;
}

.choose-img{
  margin: 30px;
  width: 50px;
  height: 50px;
}

/*content*/

.content {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content-2{
  width: 500px;
  padding: 30px;
}

.content-1{
  margin: 30px;
  width: 500px;
  text-align: center;
}

.co2{
  padding: 25px;
  margin: 10px;
  width: 70px;
  height: 70px;
  box-shadow: 5px 5px 5px 5px rgba(158,158,158,0.3);
}

.co2:hover{
  border: 2px solid #8490ff;
  margin: 8px;
}

.content-info{
  display: flex;
  justify-content: center;
}

.content-info h2{
  background: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.content-text{
  padding: 30px;
}

/*service*/

.serviceback{
  background-image: url("/img/hd/service-bg.jpg");
  background-size: initial;
  background-position: center;
  height: 750px;
}

.service{
  background-color: rgba(0,0,0,0.7);
  opacity: 0.9;
  text-align: center;
  height: 750px;
}

.service h3{
  padding: 20px;
  font-size: 40px;
  color: white;
}

.service p{
  color: white;
}

.service-content{
  display: flex;
}

.service-content h2{
  color: white;
}

